<div class="ui container nav_padding">
<h1 class="ui center aligned header"> Admin View for {{channel.name}}</h1>


<div class="ui two cards">
<div class="ui card" ng-repeat="feedback in feedbacks">
  <div class="content">
    <i class="right floated star icon"></i>
    <i class="right floated doctor icon"></i>
    <div class="header">{{feedback.title}}</div>
    <div class="description">
      <p>{{feedback.content}}</p>
    </div>
  </div>
  <div class="extra content">
    <span class="left floated like">
      <i class="comment icon"></i>
      See Comments
    </span>
    <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
  </div>
   <div class="ui bottom attached button">
      <i class="checkmark icon"></i>
      Mark as Read
    </div>
</div>
  <div class="ui card" ng-if="feedbacks.length == 0">
  	 <div class="content">
    <div class="header">Nothing found</div>
    <div class="description">
      <p>Seems there is no Feedback here</p>
    </div>
  </div>
		
			</div>
</div>


</div>