<div class="ui container nav_padding">
<h1 ng-hide="!auth" class="ui center aligned header"> Admin View for {{channel.name}}</h1>

<h1 ng-hide="auth" class="ui center aligned red message"> You are not Authorized to work on the Admin Page of {{channel.name}}</h1>
<div class="ui styled fluid accordion" ng-hide="!auth">
    <div class="title">Channel Settings:</div>
    <div class="content">
    <div class="ui form">
            <div class="inline field">
                <div class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>Channel Public</label>
                </div>
                <label></label>
            </div>
    <div class="inline field">
        <label>Channel opening at:</label>
        <input type="datetime-local" placeholder="coming soon!">
    </div>
    <div class="inline field">
        <label>Channel closed after:</label>
        <input type="datetime-local" placeholder="coming soon!">
    </div>
    <button class="ui button">
        Save!
    </button>
        <button class="ui button">
            Edit Channel Name/Descripton
        </button>
    </div>
    </div>
</div>
<br>
<div class="three ui buttons">
    <button ng-click="feedbackFilter = null" class="ui blue button">All</button>
    <button ng-click="feedbackFilter = {favorite: true}" class="ui yellow button">Favorites</button>
    <button ng-click="feedbackFilter = {unread: false}" class="ui red button">Unread</button>

</div>
<br><br>
<div class="ui two cards">
    <div class="ui card" ng-repeat="feedback in feedbacks | orderBy:'unread' | filter: feedbackFilter">
  <div class="content">
    <i class="right floated star icon" ng-click="fav(feedback)"></i>
    <i class="right floated doctor icon"></i>
    <div class="header">{{feedback.title}}</div>
    <div class="description">
      <p>{{feedback.content}}</p>
    </div>
      <a class="ui yellow right ribbon label" ng-hide="!feedback.favorite">Fav</a>
  </div>
  <div class="extra content">
    <span class="left floated like" ng-click="openAnswer(feedback.id, feedback.channel_id)">
      <i class="comment icon"></i>
      See Comments
    </span>
    <span class="right floated star" ng-click="fav(feedback)">
      <i class="star icon"></i>
      Favorite
    </span>
  </div>
   <div class="ui green bottom attached button" ng-click="markAsRead(feedback)" ng-hide="!feedback.unread">
      <i class="remove icon"></i>
      Mark as unread
    </div>
    <div class="ui red bottom attached button" ng-click="markAsRead(feedback)" ng-hide="feedback.unread">
      <i class="checkmark icon"></i>
      Mark as Read
    </div>
</div>
  <div class="ui card" ng-if="feedbacks.length == 0">
  	 <div class="content">
    <div class="header">Nothing found</div>
    <div class="description">
      <p>Seems there is no Feedback here</p>
    </div>
  </div>
			</div>
</div>

<div id="AnswerModal" class="ui modal">
<div class="ui feed">
  <div class="header">Test</div>
<div class="content">
  <div class="event" ng-repeat="feedback in feedbackchildren">
    <div class="label">
      <img src="">
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          {{feedback.author}}
        </a> wrote this Feedback:<br> {{feedback.title}}
        <div class="date">
          1 Hour Ago
        </div>      
      </div>
      <div class="extra text">

                <p>{{feedback.content}}</p></div>
      <div class="meta">
          <div class="left floated">
      <i class="thumbs up icon" ng-click="upvoteFeedback(channel.id, feedback.id, $index)"></i>
    </div>
    <div class="left floated">
      <i class="thumbs down icon" ng-click="downvoteFeedback(channel.id, feedback.id, $index)"></i>
    </div>
    {{feedback.happiness}}
      </div>
    </div>
  </div>
</div>
</div>
</div>
