<div class="ui container nav_padding">
	<div class="ui segments">
		<div class="ui segment">
			<a class="ui green ribbon label">Premium Channel</a>
			<h2 class="ui center aligned icon header">
			<img class="ui small circular image" src="http://semantic-ui.com/images/wireframe/square-image.png">
			<div class="ui hidden divider"></div>
			{{channel.name}}
			</h2>
			<div class="bm center">{{channel.description}}</div>
		</div>
		<div class="ui secondary horizontal segments">
			<div class="ui center aligned segment">
				<div class="ui labeled button" tabindex="0">
					<div class="ui red button">
						<i class="heart icon"></i> Like
					</div>
					<a class="ui basic red left pointing label">
						1,048
					</a>
				</div>
			</div>
			<div class="ui center aligned segment">
				<div class="ui labeled button" tabindex="0">
					<div class="ui blue button">
						<i class="comment icon"></i> Feedbacks
					</div>
					<a class="ui basic blue left pointing label">
						13
					</a>
				</div>
			</div>
			<div class="ui center aligned segment">
				<button class="ui circular facebook icon button">
				<i class="facebook icon"></i>
				</button>
				<button class="ui circular twitter icon button">
				<i class="twitter icon"></i>
				</button>
				<button class="ui circular google plus icon button">
				<i class="google plus icon"></i>
				</button>
			</div>
		</div>
	</div>
	  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="feedback in feedbacks">
      {{feedback.title}}
    </li>
    <li class="animate-repeat" ng-if="results.length == 0">
      <strong>No results found...</strong>
    </li>
  </ul>
</div>


