<div ng-controller="HomeController">
	<div class="ui inverted vertical masthead center aligned segment">
		<div ui-view>
			<div class="ui container">
				<div class="ui inverted header">
					<h1> Create your own Channel!</h1>
				</div><br>
				<div class="ui centered grid">
  <div class="eight wide column">
  	<h3> Help & Features</h3>
  </div>
    <div class="eight wide column">
    	<h3>Create your free Channel</h3>
<div class="ui fluid form">
					<div class="ui input field">
						<input placeholder="myChannel" type="text" ng-model="signUp.name" required />
					</div><br>
					<div class="ui input field">
						<input placeholder="admin@xyz.com" type="text" ng-model="signUp.email">
					</div><br>
					<div class="ui labeled input">
						<div class="ui label">
							http://domain.xy/#/
						</div>
						<input type="text" placeholder="channel_url" ng-model="signUp.slug">
					</div>
				</div> <br>
				<div class="ui animated fade button" id="signUpButton" tabindex="0" ng-click="sendSignUp(signUp)">
					<div class="visible content">
						Create Channel
					</div>
					<div class="hidden content">
						<i class="thumbs up icon"></i>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
				